
    #question{
      color: white;
    }

    #timer{
      color: white;
    }

    #answer{
      color: white;
    }

    .jumbotron{
      background-image: url("../images/backimg.jpg");
    }
  